.player {
	background-color: #3cb9c6;
	border: 1px solid #32a1ac;
	width: 481px;
	display: inline-block;
	margin: 0px;
	padding: 50px;
	text-align: center;
	float: left;
}

.player .name {
	font-size: 30px;
}

.player .typey {
	background: #0f8790;
	color: white;
	border: 2px dotted #ad1d28;
	margin-top: 40px;
}

#alert-holder {
	width: 0px;
	top: 0;
	overflow: visible;
	position: relative;
	height: 200px;
	display: inline-block;
	float: left;
}

#alerts {
	position: absolute;
	left: -102px;
	width: 200px;
	top: 0;
	height: 200px;
}

#alerts .happy {
	width: 200px;
	height: 200px;
	opacity: 0;
	top: -100px;
	position: absolute;
	transition: 0s;
}

#alerts .sad {
	width: 200px;
	height: 200px;
	opacity: 0;
	top: -100px;
	position: absolute;
	-webkit-transition: 0s;
	transition: 0s;
}

.anim {
	animation: flash 1s;
	-webkit-animation: flash 1s;
}

@keyframes flash
{
	0%   { opacity: 1; top: 0px; }
	50%   { opacity: 1; top: 0px; }
	100% { opacity: 0; top: 50px; }
}

@-webkit-keyframes flash 
{
	0%   { opacity: 1; top: 0px; }
	50%   { opacity: 1; top: 0px; }
	100% { opacity: 0; top: 50px; }
}

#currentWord, .countDown {
	width: 100%;
	text-align: center;
	font-family: terminal;
	color: black;
	font-size: 66px;
	padding-bottom: 30px;
	-webkit-transition: 0s;
	transition: 0s;
}

.win {
	animation: win 500ms;
	-webkit-animation: win 500ms;
}

@keyframes win
{
	0%   { top: 0%;}
	100% { top: 30%; }
}

@-webkit-keyframes win 
{
	0%   { top: 0%;}
	100% { top: 30%; }
}

form {
	position: relative;
}