<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <title>Word Fun Jam!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Type faster than the next guy.">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/bootswatch.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <script type="text/javascript" src="/js/angular.min.js"></script>
    <script type="text/javascript" src="/js/game.js"></script>

  </head>

  <body class="preview" id="top" data-spy="scroll" data-target=".subnav" data-offset="80">

  <!-- Navbar
    ================================================== -->
 <div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
       <a class="brand" href="index.html">Word Fun Jam!</a>
       <div class="nav-collapse collapse" id="main-menu">
        <ul class="nav" id="main-menu-left">
          <li><a href="index.html">Home</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Game <b class="caret"></b></a>
            <ul class="dropdown-menu" id="swatch-menu">
              <li><a id="newgame" href="#">New</a></li>
              <li><a id="joingame" href="/join">Join</a></li>
            </ul>
          </li>
          <li><a href="credits.html">Credits</a></li>
        </ul>
       </div>
     </div>
   </div>
 </div>

<div class="container" ng-controller="GameCtrl">


<!-- Masthead
================================================== -->

<h1 id="currentWord">{{currentWord}}</h1>
<h1 class="countDown">{{countDown}}</h1>

<form ng-submit="postMessage()">
                
  <div id="opponent" class="player">
    <div class="name">{{opponent}}</div>
    <input class="typey" type="text" ng-model="opponentText" />
    <div class="points">{{opponentTime}}</div>ms
  </div>

  <div id="alert-holder">
    <div id="alerts"></div>
  </div>

  <div id="self" class="player">
    <div class="name">{{nick}}</div>
    <form ng-submit="submitWord()">
      <input class="typey" type="text" ng-model="myText" />
    </form>
    <div class="points">{{myTime}}</div>ms
  </div>
  <input style="display: none;" class="btn-primary" type="submit" value="play">

</form> 

<div id="entergame" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">New Game</h4>
      </div>
      <form id="gameform">
        <div class="modal-body">
          <p>Enter your name:</p>
          <input type="text" id="playername"></input>
          <p>Enter a new or existing Game ID:</p>
          <input type="text" id="gameid"></input>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Start Game</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="test">
  <a ng-click="yayWin()">win</a>
  <a ng-click="booLose()">lose</a>
  <a ng-click="ask4word()">getWord</a>
</div>


<!-- Footer
================================================== -->
<hr>

<footer id="footer">
  <p class="pull-right"><a href="#top">Back to top</a></p>
  <div class="links">
    <a href="#">Github</a>
    <a href="#">Email</a>
    <a href="#">Facebook</a>
    <a href="#">Donate</a>
  </div>
  Made by <a href="#">Cameron Seebach</a> & <a href="#">Tyrone Warren</a>.  
  Code licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Affero GPL</a>.
</footer>

</div><!-- /container -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.smooth-scroll.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootswatch.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('#newgame').click(function(){
          $('#entergame').modal();
        });
        $('#gameform').submit(function(e){
          e.preventDefault();
          var playername = $('#playername').val();
          var gameid = $('#gameid').val();
          window.location = 'game/' + gameid + '/' + playername;
        });
      });
    </script>
    <script type="text/javascript" src="/node_modules/socket.io/node_modules/socket.io-client/dist/socket.io.js"></script>
    <script>
      var socket = io.connect('/');
    </script>


  </body>
</html>
